@keyframes clickForNavbar {
    0%{
        opacity: 0;
        transform: scale(0);
        background: rgba(0, 0, 0, 0.03);
    }
    100%{
        opacity: 0.5;
        transform: scale(1);
        background: rgba(0, 0, 0, 0.03);
    }
}