// @include breakpoint(sm){ font-size: 20px; }
@mixin breakpoint($class) {
  @if ($class == xs) {
    @media (max-width: 576px) {
      @content;
    }
  } @else if ($class == sm) {
    @media (min-width: 576px) {
      @content;
    }
  } @else if ($class == md) {
    @media (min-width: 768px) {
      @content;
    }
  } @else if ($class == lg) {
    @media (min-width: 992px) {
      @content;
    }
  } @else if ($class == xl) {
    @media (min-width: 1200px) {
      @content;
    }
  } @else if ($class == xxl) {
    @media (min-width: 1400px) {
      @content;
    }
  } @else {
    @warn "breakpoint mixin supports: xs, sm, md, lg, xl, xxl";
  }
}

// @include flex($fdir: row,$jcnt: center,$aitem:center, $gap:0);
@mixin flex($dsp: flex, $jcnt: center, $aitem: center, $gap: 0) {
  display: $dsp;
  justify-content: $jcnt;
  align-items: $aitem;
  gap: $gap;
}

  // hover state
  @mixin hoverState {
    padding: 1.5rem;
    border-radius: 50%;
    cursor: pointer;
    z-index: 3;
  
    &:hover{
      background: rgba($color: #000000, $alpha: .03);
    }
  }

  @mixin animateSpan {
    & span{
      width: 100%;
      height: 100%;
      background: rgba($color: #000000, $alpha: .08);
      position: absolute;
      top: 0;
      right: 0;
      border-radius: 50%;
      opacity: 0;
    }
    
    & span.active{
      animation: clickForNavbar .5s ease-out;
    }
  }