@font-face {
  font-display: swap;
  font-family: yekan;
  font-style: normal;
  font-weight: 600;
  src: url("/assets/fonts/yekan/eot/iran-yekan-web-bold.eot");
  src: url("/assets/fonts/yekan/woff/iran-yekan-web-bold.woff") format("woff"), url("/assets/fonts/yekan/ttf/iran-yekan-web-bold.ttf") format("truetype");
}
@font-face {
  font-display: swap;
  font-family: yekan;
  font-style: normal;
  font-weight: 300;
  src: url("/assets/fonts/yekan/eot/iran-yekan-web-light.eot");
  src: url("/assets/fonts/yekan/woff/iran-yekan-web-light.woff") format("woff"), url("/assets/fonts/yekan/ttf/iran-yekan-web-light.ttf") format("truetype");
}
@font-face {
  font-display: swap;
  font-family: yekan;
  font-style: normal;
  font-weight: 400;
  src: url("/assets/fonts/yekan/eot/iran-yekan-web-regular.eot");
  src: url("/assets/fonts/yekan/woff/iran-yekan-web-regular.woff") format("woff"), url("/assets/fonts/yekan/ttf/iran-yekan-web-regular.ttf") format("truetype");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: yekan;
}

img {
  width: 100%;
}

html {
  scroll-behavior: smooth;
}
@media (max-width: 576px) {
  html {
    font-size: 60%;
  }
}
@media (min-width: 576px) {
  html {
    font-size: 60%;
  }
}
@media (min-width: 768px) {
  html {
    font-size: 62.5%;
  }
}

body {
  direction: rtl;
  background: #fafafa;
  position: relative;
}

.header {
  width: 100%;
  height: 62px;
  padding: 1.5rem 8% 1.5rem 9%;
  background: #fff;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0;
}
@media (max-width: 576px) {
  .header {
    padding: 1.5rem 15% 1.5rem 4%;
  }
  .header__hamburger-icon {
    display: block;
  }
  .header .menu {
    display: none;
  }
}
@media (min-width: 576px) {
  .header__hamburger-icon {
    display: block;
  }
  .header .menu {
    display: none;
  }
}
@media (min-width: 768px) {
  .header__hamburger-icon {
    display: none;
  }
  .header .menu {
    display: block;
  }
}
.header__header-right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3.5rem;
}
.header__hamburger-icon {
  font-size: 20px;
  color: #733dd8;
  position: absolute;
  right: 4%;
  cursor: pointer;
}
.header__hamburger-icon.active {
  display: none;
}
.header__close-icon {
  font-size: 22px;
  color: #733dd8;
  position: absolute;
  right: 3%;
  display: none;
  cursor: pointer;
}
.header__close-icon.active {
  display: block;
}
.header .logo {
  width: 28px;
  cursor: pointer;
}
.header ul {
  display: flex;
}
.header a {
  padding: 0.8rem 1.3rem;
  font-size: 1.4rem;
  font-weight: 600;
  border-radius: 0.6rem;
  color: #464e57;
}
.header a:hover {
  background: #733dd8;
  color: #fff;
}
.header__header-left {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3rem;
}
.header__shopping-cart {
  position: relative;
}
.header__shopping-cart i {
  font-size: 18px;
  color: #733dd8;
  cursor: pointer;
}
.header__shopping-cart .number {
  width: 1.9rem;
  height: 1.9rem;
  background: #f44336;
  color: #fff;
  border-radius: 50%;
  font-family: sans-serif;
  font-size: 1.2rem;
  font-weight: bold;
  position: absolute;
  top: -1rem;
  left: -1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0;
}
.header__login {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  color: #733dd8;
}
.header__login i {
  font-size: 18px;
  transform: rotate(180deg);
}
.header__login span {
  font-size: 1.4rem;
}

.navbar {
  position: fixed;
  top: 5rem;
  left: 0;
  z-index: 2;
  width: 100%;
  background: #fff;
  box-shadow: 0 2rem 2rem rgba(0, 0, 0, 0.1);
  display: none;
}
.navbar.active {
  display: block;
}
.navbar li {
  padding: 1rem 1.2rem;
}
.navbar a {
  font-size: 14px;
  color: #464e57;
}
.navbar a:hover {
  color: #733dd8;
}

.main-page {
  padding: 0 9%;
}
@media (max-width: 576px) {
  .main-page {
    padding: 0 4%;
  }
}

.btn {
  padding: 1.4rem 2.8rem;
  background: linear-gradient(333deg, #2b0179 0%, #2b0179 0%, #7938f2 100%, #7938f2 100%);
  color: #fff;
  font-size: 1.7rem;
  border-radius: 0.8rem;
}

.home {
  width: 100%;
  height: 60rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}
@media (max-width: 576px) {
  .home {
    flex-direction: column;
    padding: 15rem 2rem 0;
    margin-bottom: 15rem;
  }
}
@media (min-width: 576px) {
  .home {
    flex-direction: column;
    padding: 10rem 2rem 0;
    margin-bottom: 15rem;
  }
}
@media (min-width: 1400px) {
  .home {
    flex-direction: row;
    padding: 5rem 2rem;
    margin-bottom: 0;
  }
}
.home__image {
  height: 100%;
  position: relative;
}
@media (max-width: 576px) {
  .home__image {
    width: 90%;
  }
}
@media (min-width: 576px) {
  .home__image {
    width: 90%;
  }
}
@media (min-width: 768px) {
  .home__image {
    width: 48%;
  }
}
.home__content {
  text-align: center;
  position: relative;
}
.home__content h1 {
  font-size: 2.6rem;
  font-style: normal;
  margin-bottom: 5rem;
}
.home__content h2 {
  font-size: 1.8rem;
  margin-bottom: 5rem;
  color: #464e57;
}
.home__content p {
  font-size: 1.5rem;
  color: #79797a;
  margin-top: 5rem;
}
.home__content p a {
  color: #0f51df;
}

.services {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 3rem;
}
@media (max-width: 576px) {
  .services {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 576px) {
  .services {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 768px) {
  .services {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (min-width: 992px) {
  .services {
    grid-template-columns: repeat(5, 1fr);
  }
}
.services .service {
  background: #fff;
  border-radius: 1rem;
  flex-direction: column;
  padding: 5rem 3.5rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0;
}
@media (max-width: 576px) {
  .services .service {
    padding: 3rem 2rem;
  }
}
.services .service__img {
  width: 4rem;
  margin-bottom: 1.5rem;
}
.services .service h3 {
  font-size: 1.4rem;
  margin-bottom: 1.5rem;
}
.services .service p {
  font-size: 1.2rem;
  color: #464e57;
}
@media (max-width: 576px) {
  .services .refund {
    grid-column: 1/3;
  }
}

.courses {
  margin-top: 6rem;
}
.courses__heading {
  margin-bottom: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0;
}
.courses__heading img {
  width: 360px;
}
.courses__courses-box {
  display: grid;
  gap: 4rem;
}
@media (max-width: 576px) {
  .courses__courses-box {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media (min-width: 576px) {
  .courses__courses-box {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 1400px) {
  .courses__courses-box {
    grid-template-columns: repeat(3, 1fr);
  }
}

.course {
  background: #fff;
  border-radius: 0.8rem;
  overflow: hidden;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
}
.course__img {
  width: 100%;
}
@media (max-width: 576px) {
  .course__img {
    height: 29rem;
  }
}
@media (min-width: 1400px) {
  .course__img {
    height: 25rem;
  }
}
.course__img img {
  height: 100%;
  object-position: center;
  object-fit: cover;
}
.course__content {
  padding: 1.5rem 1.5rem 2.5rem;
}
.course__content h3 {
  font-size: 1.8rem;
  margin-bottom: 3rem;
  cursor: pointer;
  color: #464e57;
}
.course__content h3:hover {
  color: #0f51df;
}
.course__content__time {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1.5rem;
}
.course__content__time i {
  font-size: 2.2rem;
  color: #733dd8;
}
.course__content__time h4 {
  font-size: 1.4rem;
  color: #79797a;
}
.course__content__view {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  font-size: 1.4rem;
  color: #733dd8;
  margin-bottom: 4rem;
  cursor: pointer;
}
.course__content__view i {
  transition: 0.4s ease-in-out;
}
.course__content__view i:hover {
  transform: translateX(-1.2rem);
}
.course__content__register-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0;
}
.course__content .register {
  font-size: 1.4rem;
}
.course__content .register a {
  padding: 1rem 2.5rem;
}
.course__content .price {
  font-size: 1.4rem;
  font-weight: 600;
}
.course__content .price__number {
  margin-left: 0.5rem;
  color: #464e57;
}

.describtion {
  margin: 13rem 0 15rem;
  height: 40rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}
@media (max-width: 576px) {
  .describtion {
    flex-wrap: wrap;
    padding: 0 1.5rem;
  }
}
@media (min-width: 576px) {
  .describtion {
    flex-wrap: wrap;
  }
}
.describtion__img {
  width: 30%;
}
@media (max-width: 576px) {
  .describtion__img {
    width: 95%;
    order: 2;
  }
}
@media (min-width: 576px) {
  .describtion__img {
    width: 60%;
    order: 2;
  }
}
@media (min-width: 992px) {
  .describtion__img {
    width: 30%;
    order: 1;
  }
}
@media (max-width: 576px) {
  .describtion__content {
    width: 100%;
    order: 1;
  }
}
@media (min-width: 576px) {
  .describtion__content {
    width: 100%;
    order: 1;
  }
}
@media (min-width: 992px) {
  .describtion__content {
    width: 63%;
    order: 2;
  }
}
.describtion__content h2 {
  font-size: 2.5rem;
  font-weight: 600;
  margin-bottom: 2.8rem;
}
.describtion__content p {
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 2.3;
  color: #3b4147;
  text-align: justify;
}
.describtion__content a {
  color: #0f51df;
}

.statistics {
  margin-bottom: 10rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0;
}
.statistics__content h2 {
  font-size: 2.5rem;
  font-weight: 600;
  margin-bottom: 0.8rem;
}
.statistics__content p {
  font-size: 1.4rem;
}
.statistics__statistics-box {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
}
.statistics__statistics-box .box {
  background: #fff;
  padding: 1rem 4.8rem;
  text-align: center;
  border-radius: 1.2rem;
}
.statistics__statistics-box .box h3 {
  font-size: 2.4rem;
  font-weight: 600;
  margin-bottom: 1rem;
}
.statistics__statistics-box .box p {
  font-size: 1.4rem;
  font-weight: 500;
  color: #733dd8;
}

/*# sourceMappingURL=style.css.map */
