@font-face {
  font-display: swap;
  font-family: yekan;
  font-style: normal;
  font-weight: 600;
  src: url("/assets/fonts/yekan/eot/iran-yekan-web-bold.eot");
  src: url("/assets/fonts/yekan/woff/iran-yekan-web-bold.woff") format("woff"), url("/assets/fonts/yekan/ttf/iran-yekan-web-bold.ttf") format("truetype");
}
@font-face {
  font-display: swap;
  font-family: yekan;
  font-style: normal;
  font-weight: 300;
  src: url("/assets/fonts/yekan/eot/iran-yekan-web-light.eot");
  src: url("/assets/fonts/yekan/woff/iran-yekan-web-light.woff") format("woff"), url("/assets/fonts/yekan/ttf/iran-yekan-web-light.ttf") format("truetype");
}
@font-face {
  font-display: swap;
  font-family: yekan;
  font-style: normal;
  font-weight: 400;
  src: url("/assets/fonts/yekan/eot/iran-yekan-web-regular.eot");
  src: url("/assets/fonts/yekan/woff/iran-yekan-web-regular.woff") format("woff"), url("/assets/fonts/yekan/ttf/iran-yekan-web-regular.ttf") format("truetype");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: yekan;
}

img {
  width: 100%;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  direction: rtl;
  height: 100vh;
  background: #fafafa;
  position: relative;
}

.header {
  width: 100%;
  padding: 1.5rem 9%;
  background: #fff;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0;
}
@media (max-width: 576px) {
  .header {
    padding: 1.5rem 15% 1.5rem 4%;
  }
  .header__hamburger-icon {
    display: block;
  }
  .header .menu {
    display: none;
  }
}
@media (min-width: 576px) {
  .header__hamburger-icon {
    display: block;
  }
  .header .menu {
    display: none;
  }
}
@media (min-width: 768px) {
  .header__hamburger-icon {
    display: none;
  }
  .header .menu {
    display: block;
  }
}
.header__header-right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3rem;
}
.header__hamburger-icon {
  font-size: 2rem;
  color: #733dd8;
  position: absolute;
  right: 4%;
  cursor: pointer;
}
.header__hamburger-icon.active {
  display: none;
}
.header__close-icon {
  font-size: 2.2rem;
  color: #733dd8;
  position: absolute;
  right: 3%;
  display: none;
  cursor: pointer;
}
.header__close-icon.active {
  display: block;
}
.header .logo {
  width: 2.8rem;
  cursor: pointer;
}
.header ul {
  display: flex;
}
.header a {
  padding: 0.8rem 2rem;
  font-size: 1.4rem;
  border-radius: 0.6rem;
  color: #464e57;
}
.header a:hover {
  background: #733dd8;
  color: #fff;
}
.header__header-left {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3rem;
}
.header__shopping-cart {
  position: relative;
}
.header__shopping-cart i {
  font-size: 1.8rem;
  color: #733dd8;
  cursor: pointer;
}
.header__shopping-cart .number {
  width: 1.9rem;
  height: 1.9rem;
  background: #f44336;
  color: #fff;
  border-radius: 50%;
  font-family: sans-serif;
  font-size: 1.2rem;
  font-weight: bold;
  position: absolute;
  top: -1rem;
  left: -1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0;
}
.header__login {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  color: #733dd8;
}
.header__login i {
  font-size: 1.8rem;
  transform: rotate(180deg);
}
.header__login span {
  font-size: 1.4rem;
}

.navbar {
  position: fixed;
  top: 5rem;
  left: 0;
  z-index: 1001;
  width: 100%;
  background: #fff;
  box-shadow: 0 2rem 2rem rgba(0, 0, 0, 0.1);
  display: none;
}
.navbar.active {
  display: block;
}
.navbar li {
  padding: 1rem 1.2rem;
}
.navbar a {
  font-size: 1.4rem;
  color: #464e57;
}
.navbar a:hover {
  color: #733dd8;
}

.main-page {
  padding: 0 9%;
}
@media (max-width: 576px) {
  .main-page {
    padding: 0 4%;
  }
}

.btn {
  padding: 1.4rem 2.8rem;
  background: linear-gradient(333deg, #2b0179 0%, #2b0179 0%, #7938f2 100%, #7938f2 100%);
  color: #fff;
  font-size: 1.7rem;
  border-radius: 1rem;
}

.home {
  width: 100%;
  height: 60rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}
@media (max-width: 576px) {
  .home {
    flex-direction: column;
    padding: 15rem 2rem 5rem;
  }
}
@media (min-width: 576px) {
  .home {
    flex-direction: column;
    padding: 10rem 2rem 5rem;
  }
}
@media (min-width: 1400px) {
  .home {
    flex-direction: row;
    padding: 5rem 2rem;
  }
}
.home__image {
  height: 100%;
  position: relative;
}
@media (max-width: 576px) {
  .home__image {
    width: 90%;
  }
}
@media (min-width: 576px) {
  .home__image {
    width: 90%;
  }
}
@media (min-width: 768px) {
  .home__image {
    width: 50%;
  }
}
.home__content {
  text-align: center;
  position: relative;
}
.home__content h1 {
  font-size: 2.6rem;
  font-style: normal;
  margin-bottom: 5rem;
}
.home__content h2 {
  font-size: 1.8rem;
  margin-bottom: 5rem;
  color: #464e57;
}
.home__content p {
  font-size: 1.5rem;
  color: #79797a;
  margin-top: 5rem;
}
.home__content p a {
  color: #3966dd;
}

/*# sourceMappingURL=style.css.map */
